<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Tool for converting TETRAD graphs to web friendly images.">
  <meta name="author" content="Michael Ringenberg">
  <style type="text/css">
  .tetrad-graph {
    width: 400px; height: 400px;
  }
  </style>
  <title>TETRAD Image Converter</title>
  <% for (cssFile of htmlWebpackPlugin.files.css) { %>
  <style>
    <%= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
  </style>
  <% } %>
  <% for (jsFile of htmlWebpackPlugin.files.js) { %>
  <script>
  <%= compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
  </script>
  <% } %>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-primary">
    <a class="navbar-brand" href="#">TETRAD Image Coverter</a>
  </nav>
  <div class="container">
    <header class="card">
      <h3 class="card-title">Instructions:</h3>
      <div class="card-text container">
        <p>First, use the TETRAD GUI (available from the bottom of
          <a href="http://www.ccd.pitt.edu/tools/">the CCD Tools
            page</a>
          or <a href="https://github.com/cmu-phil/tetrad">cmu-phil/tetrad</a>)
          to make a graph.</p>
        <p>In the GUI, click on the "Graph" 
          button to make a graph box in the work area. Double-click on
          that box, select "Graph", then use the tools on the left side
          of the dialog box to create a graph. From the "File" menu, select
          "Save..."&gt;"XML" to export the graph as an XML file.</p>
        <p>Use the "Browse..." button below to import the xml file that
          was exported from TETRAD. This will load the graph data into
          the graph area. Drag the nodes around until you are satisfied
          with their position. Click on nodes or edges to invert their
          color in order to highlight them. Right click on the nodes to
          open a menu which can be used to convert it into a latent
          variable (eg) one in an ovil instead of a square.
          Then click on the "Output PNG" button to generate the
          image which will appear below that button. Right click on the
          image and select "Save Image As...". The "Output JSON" button
          is used to generate the code that is used to represent the
          graph in CTAT tutors or displayed
          using <a href="http://js.cytoscape.org/">Cytoscape.js</a>.</p>
      </div>
    </header>
    <main>
      <section class="card">
        <h3 class="card-title">Import Graph Data</h3>
        <div class="card-text container">
          <div class="form-group">
            <input type="file" class="file form-control" id="tetradxml" name="image" aria-describedby="tetradxmlHelp" placeholder="Select a TETRAD xml graph file..." data-browse-on-zone-click="true" data-show-upload="false">
            <small id="tetradxmlHelp" class="form-text text-muted">Specify the xml file exported from TETRAD.</small>
          </div>
        </div>
      </section>
      <section class="card">
        <h3 class="card-title">Manipulate the graph</h3>
        <div class="card-body">
          <div id="graph" class="tetrad-graph border border-dark"></div>
        </div>
      </section>

      <section class="card">
        <h3 class="card-title">Image</h3>
        <div class="card-body">
          <button type="button" class="btn btn-primary" id="out_png">Generate IMage</button>
          <p class="card-text"><img id="image_png" src="" alt=""></p>
        </div>
      </section>
      <section class="card">
        <h3 class="card-title">JSON Code</h3>
        <div class="card-body">
          <button type="button" class="btn btn-primary" id="out_json">Generate JSON</button>
          <pre class="card-text" id="image_json"></pre>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
